
UtilitarianMultiplatform/bin/

UtilitarianMultiplatform/obj/

UtilitarianMultiplatform.Android/Assets/AboutAssets.txt

UtilitarianMultiplatform.Android/obj/

UtilitarianMultiplatform.iOS/obj/

UtilitarianMultiplatform.UWP/bin/

UtilitarianMultiplatform.UWP/obj/
